<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body class="page_display">
	<div class="main_content">
		<div class="page_title"><h1 class="tcenter">Streaming ESPCAM</h1></div>
		<div class="tcenter">
			<canvas id="canvas">
				Lo sentimos, su navegador no es compatible &lt;canvas&gt;.
			</canvas>
		</div>
		<select id="resolutionSelect">
			<option value="96X96">96X96</option>
			<option value="QQVGA">QQVGA</option>
			<option value="240X240">240X240</option>
			<option value="UXGA">UXGA</option>
		</select>
	</div>
	
	<script>
	var last_time = new Date()
	var portStr="";
	if(location.port != "")
	{
		portStr=":"+location.port;
	}
	var protocolStr="ws";
	if (location.protocol === 'https:') {
		protocolStr="wss";
	}
	console.log(protocolStr+'://' + location.hostname + portStr+"/jpgstream_client");
	var ws = new WebSocket(protocolStr+'://' + location.hostname + portStr+"/jpgstream_client");	
	var canvas = document.getElementById('canvas');
	var ctx = canvas.getContext('2d');
	
	var img = new Image();
	img.onload = function() {
			canvas.style.width=this.width+'px';
			canvas.style.height=this.height+'px';
			ctx.drawImage(this, 0, 0, this.width,    this.height,     // source rectangle
                   0, 0, canvas.width, canvas.height); // destination rectangle


	}
	
	ws.onmessage = function(message) {	
		var url = URL.createObjectURL(message.data);
		img.src = url;		
		let currentTime = new Date()
		let period =(currentTime - last_time) / 1000
		console.log(period + "s. FPS: "+  1/period)
		last_time=currentTime
	};


	document.getElementById("resolutionSelect").onchange = (e)=>{
		console.log(e.target.value)
		ws.send(e.target.value)
	}

	</script>
</body>
</html>
<html>