<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body >
	<div class="container text-center">
		<div class="page_title"><h1 class="tcenter">Streaming ESPCAM</h1></div>
		<div class="tcenter">
			<canvas id="canvas">
				Lo sentimos, su navegador no es compatible &lt;canvas&gt;.
			</canvas>
		</div>
		<h3 id="angleValue"> 0</h3>
		<input type="range" class="form-range mb-3" min="-180" max="180" value="0" id="angleSlider">
		<select class="form-control" id="resolutionSelect">
			<option value="FRAMESIZE_96X96">96X96</option>
			<option value="FRAMESIZE_QQVGA">QQVGA</option>
			<option value="FRAMESIZE_240X240">240X240</option>
			<option value="FRAMESIZE_UXGA">UXGA</option>
		</select>
		<div id="content"></div>
		<div class="border w-100 mt-3" style="height: 35px;">
			<div class="bg-success" style="height: 100%;" id="sensor"></div>
		</div>
		<div class="mt-5 form-group" style="text-align: left;">
			<input  class="form-control" id="ssid" placeholder="Informe o nome da rede">
			<input  class="form-control mt-3" id="password" placeholder="Informe a senha da rede">
			<button class="btn btn-primary mt-3" onclick="onSetNetwork()">Enviar</button>
		</div>
		  </div>	
	</div>
	<script>
	var last_time = new Date()
	var portStr="";
	if(location.port != "")
	{
		portStr=":"+location.port;
	}
	var protocolStr="ws";
	if (location.protocol === 'https:') {
		protocolStr="wss";
	}
	console.log(protocolStr+'://' + location.hostname + portStr+"/jpgstream_client");
	var ws = new WebSocket(protocolStr+'://' + location.hostname + portStr+"/jpgstream_client");	
	var canvas = document.getElementById('canvas');
	var ctx = canvas.getContext('2d');
	
	var img = new Image();
	img.onload = function() {
			canvas.style.width=this.width+'px';
			canvas.style.height=this.height+'px';
			ctx.drawImage(this, 0, 0, this.width,    this.height,     // source rectangle
                   0, 0, canvas.width, canvas.height); // destination rectangle


	}
	let fps=[]
	img.src = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUAAACnej3aAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC";		
	ws.onmessage = function(message) {
		if((typeof(message.data)==="string")){
			let width = 100-(message.data/10)
			document.getElementById("sensor").style.width=width+"%"
			if(width<40){
				document.getElementById("sensor").className = "bg-success"
			}else if(width<70){
				document.getElementById("sensor").className = "bg-warning"
			}else{
				document.getElementById("sensor").className = "bg-danger"
			}
		}else{
			var url = URL.createObjectURL(message.data);
			img.src = url;
		}
	};


	document.getElementById("resolutionSelect").onchange = (e)=>{
		ws.send(JSON.stringify({"action":"resolution","value":e.target.value}))
		fps=[]

	}
	document.getElementById("angleSlider").onchange = (e)=>{
		document.getElementById("angleValue").innerHTML = e.target.value
		ws.send(JSON.stringify({"action":"angle","value":e.target.value}))

	}

	function onSetNetwork(){	
	let ssid = document.getElementById("ssid").value.replaceAll(" ","}")
	let password = document.getElementById("password").value
	var url ='http://192.168.4.1/?credentials='+ssid+"]"+password+"&"
	fetch(url,{method:"GET"})
	}
	</script>
</body>
</html>
<html>